@import "tailwindcss";

:root {
  --philotimo-blue: #0F338E;
  --philotimo-blue-dark: #082063;
  --philotimo-blue-light: #0B3AB6;
  --philotimo-white: #F4EFE8;
  --philotimo-black: #131313;
  --philotimo-yellow: #F8EC85;
  --philotimo-yellow-dark: #BEB03B;

}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--philotimo-white);
  color: var(--philotimo-black);
  font-family: Arial, Helvetica, sans-serif;
}

.header-link {
  padding: 10px;
  text-transform: uppercase;
}

.header-link:hover {
  background-color: var(--philotimo-yellow);
  color: var(--philotimo-blue);
}

.button-1-style {
  background-color: var(--philotimo-blue);
  color: var(--philotimo-white);
  text-transform: uppercase;
  padding: 10px 25px;
  display: block;
}

.button-1-style:hover {
  background-color: var(--philotimo-yellow);
  color: var(--philotimo-blue);
}

.button-2-style {
  background-color: var(--philotimo-yellow);
  color: var(--philotimo-blue);
  text-transform: uppercase;
  padding: 10px 25px;
  display: block;
}

.button-2-style:hover {
  background-color: var(--philotimo-blue-light);
  color: var(--philotimo-white);
}

.page-banner {
  display: flex;
  flex-direction: column;
  gap: 20;
  justify-content: start;
  align-items: start;
  width: 100vw;
  padding: 96px;
}

.page-section{
  width: 100vw;
  padding: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* maybe make this a grid */
.event-container{
  padding: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--philotimo-blue);
  color: var(--philotimo-white);
  margin: 24px 0px;
  width: 100%;
}

img {
  max-width: 200px;
  height: auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}
